<!-- <container > -->
<div class="photo_titre">
    <!-- <h1 class="home_title">Pastry Confiction Tools</h1> -->
    <h1>Pastry Confections</h1>
    <a class="see-all-button">
        <%= link_to "See All", tools_path, class:"poligon-button-home"%>
    </a>
    <h3 id="home-slogan"> Make The Best Cake, With The Right Tools </h3>
</div>
