/* booking button position */
.booking-button-newline {
    position: relative;
    top: 60px;
    left: -5px;
    border: none;
    background: none;
}

.bookings .form-group {
    margin-bottom: 1rem;
    margin-top: -266px;
    color: #a4a4a4;
}

.booking_start_date #range_start,
.booking_end_date #range_end {
    max-width: 230px !important;
    height: 40px;
    border-radius: 50px;
    margin-bottom: -40px;
}

/* flat-pickr calender position */
.flatpickr-calendar {
    display: block;
    position: relative;
    left: 80%;
}

/* flat-picker font color */
.flatpickr-months .flatpickr-month,
.flatpickr-weekday,
    {
    color: $color-lightblue !important;
}


/*********  responsive screen sizes *********/
@media screen and (min-width: 1200px) {
    .booking_start_date #range_start,
    .booking_end_date #range_end {
        min-width: 350px !important;
        height: 40px;
    }

    .booking-form-show #new_booking {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    /* flat-pickr calender position */
    .flatpickr-calendar.inline {
        display: block;
        position: relative;
        left: 0;
        top: 230px !important;
    }
}

@media screen and (max-width: 1200px) {
    .bookings .form-group {
        margin-bottom: 1rem;
        margin-top: -266px;
        color: #a4a4a4;
        position: relative;
    }

    .booking_start_date #range_start,
    .booking_end_date #range_end {
        width: 130px !important;
        height: 40px;
    }

    .booking-button-newline {
        right: 542px;
    }

    .flatpickr-calendar {
        display: block;
        position: relative;
        left: 50%;
    }
}

@media screen and (max-width: 990px) {
    .tool-bookings{
      position:relative;
      top: -30%;
    }
    .booking_start_date #range_start,
    .booking_end_date #range_end {
        min-width: 320px !important;
        height: 40px;
    }

    .booking-form-show #new_booking {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    /* flat-pickr calender position */
    .flatpickr-calendar.inline {
        display: block;
        position: relative;
        left: 0;
        top: 230px !important;
    }
}
@media only screen and (max-width: 890px) and (min-width: 850px){
 .tool-bookings{
      position:relative;
      top: -5%;
    }
}

@media screen and (max-width: 830px) {

    .booking_start_date #range_start,
    .booking_end_date #range_end {
        min-width: 210px !important;
        height: 40px;
    }

    .booking-button-newline {
        right: 545px;
    }

    .booking-button-newline {
        position: relative;
        top: -102px !important;
        left: 220px !important;
    }

    .flatpickr-calendar.inline {
        display: block;
        position: relative;
        left: 0;
        top: 150px !important;
    }

}

@media screen and (max-width: 730px) {
    .booking-form-show #new_booking {
        display: flex;
        flex-direction: column;
        border-radius: 50px;
    }

    .booking_start_date #range_start,
    .booking_end_date #range_end {
        margin-right: auto;
        width: 90%;
    }

    .flatpickr-calendar.inline {
        display: block;
        position: relative;
        left: 0;
        top: 160px !important;
    }

    /* booking button position */
    .booking-button-newline {
        position: relative;
        top: -100px !important;
        left: 230px !important;
    }

}

@media screen and (max-width: 550px) and (min-width: 319 px) {

    .booking_start_date #range_start,
    .booking_end_date #range_end {
        min-width: 50vw !important;
        height: 40px;
    }

    .booking-form-show #new_booking {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
    }

    /* booking button position */
    .booking-button-newline {
        position: relative;
        top: -102px !important;
        left: 200px !important;
    }
 .flatpickr-calendar.inline {

    }
}


