.search-btn,
.booking-button {
    // padding: 5px 50px;
    background: linear-gradient(207deg, rgba(173, 213, 204, 1) 0%, rgba(163, 165, 215, 1) 100%);
    border-radius: 50px;
    font-weight: 600;
    color: #FFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    transition-duration: 800ms;

    &:hover {
        background: linear-gradient(207deg, rgba(209, 95, 255, 1) 0%, rgba(93, 108, 252, 1) 100%);
        color: #FFF;
        text-decoration: none;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

}

.back-btn {
    padding: 5px 50px;
    background: linear-gradient(207deg, rgba(173, 213, 204, 1) 0%, rgba(163, 165, 215, 1) 100%);
    border-radius: 50px;
    font-weight: 600;
    color: #FFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    transition-duration: 800ms;

    &:hover {
        background: linear-gradient(207deg, rgba(209, 95, 255, 1) 0%, rgba(93, 108, 252, 1) 100%);
        color: #FFF;
        text-decoration: none;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* bootstrap btn style modification */
.btn {
    border: 0px solid transparent;
}

.poligon-button-home {
    background: linear-gradient(207deg, rgba(173, 213, 204, 1) 0%, rgba(163, 165, 215, 1) 100%);
    transition: 0.4s cubic-bezier(1, -1, 0, 2);
    clip-path: circle(100px at center);
    padding: 100px;
    font-weight: 600;
    color: #FFF;
    text-decoration: none;

    &:hover {
        clip-path: circle(50px at center);
        font-weight: 600;
        background-color: $color-blue;
        color: $color-purple;
        text-decoration: none;
    }
}

.booking-button {
    background: linear-gradient(207deg, rgba(173, 213, 204, 1) 0%, rgba(163, 165, 215, 1) 100%);
    border-radius: 50px;
    font-weight: 600;
    color: #FFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    transition-duration: 800ms;
    padding: 0px 20px;
    height: 40px !important;

    &:hover {
        background: linear-gradient(207deg, rgba(209, 95, 255, 1) 0%, rgba(93, 108, 252, 1) 100%);
        color: #FFF;
        text-decoration: none;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}
