.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  padding: 0.05rem 2rem;
}

.userimage img{
  width: 25px ;
  margin: 7px 5px;
}
.user-email{
  color: $color-lightpurple;
  font-weight: 800;
  letter-spacing: 0.5px;
}


.nav-link {
  font-family: Montserrat, sans-serif;
   color: $color-purple !important;
   transition-duration: 800ms;
   &:hover{
    color: $color-lightpurple !important;
    transition-duration: 800ms;
   }
}

.navbar-brand {
  opacity: 1;
}
.navbar-brand:hover {
  opacity: 0.5;
  transition-duration: 700ms;
}

strong {
  font-family: Montserrat, sans-serif;
}


