
.range_start {
  display:grid;
  grid-gap: 60px;

}


.btn  {
  color: white

}


.text-center1 {
  color: #9f785c

}
.container-form{
  width: 600px;
    height: 150px;
    background-color:white ;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.27);
    border-radius:1px;
    color: #9f785c;
}
