.range_start {
  display:grid;
  grid-gap: 60px;
}

.btn  {
  color: #FFF;
}

.text-center1 {
  color: $color-purple

}
.container-form{
  width: 600px;
    height: 150px;
    background-color:#FFF;
    border-radius:25px;
    color: $color-purple;
}
