.search-form {
    padding: 40px 0;
}

.form-control {
    width: 400px !important;
    height: 40px;
    border-radius: 50px;
}

.input#query.form-control.shadow-none {
    outline: none;
}


@media screen and (max-width: 600px) {
    .form-control {
        width: 300px !important;
    }

    .input-group-btn {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
}
